
#General
.DS_STORE
Thumbs.db

#editor
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#app-specific
/src/config/

# Dependencies
node_modules

# Compiled files
scripts
/dist
/test/coverage-karma/

