.title {
    flex:auto;
}

.article-image {
    border-radius:2px;  
}


.document-nightmode {
    .collapsible.popout > li {
        box-shadow: 0 2px 5px 0 rgba(117, 117, 117, 0.16), 0 2px 10px 0 rgba(100, 100, 100, 0.12);
    }
}
