

$html_color: #fff;
$night_mode: #2A2A2F;
$theme_color:#ed5757;

@import 'layout';
@import 'collapsible';


h4 {
    font-size:1.6rem;
}

.title i {
    line-height: 0.85 !important;
    margin-right:0 !important;
    vertical-align: top;
    color:firebrick;
}

.document-nightmode {
    background-color:$night_mode;
    .container div {
        color:#fff;
        background-color:$night_mode;
    }
    .switch label input[type=checkbox]:checked + .lever {
        background-color:paleturquoise;
    }
}



@media screen and (max-width:60em)  {
	.container h2 {
		font-size: 2rem;
    }
    .container h4 {
        font-size:1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    #toast-container {
        top:0;
    }
    .toast {
        min-height:58px !important;
        margin-top:0px !important;
    }
}
